pkgbase = veil-bin
	pkgdesc = Prebuilt Veil Alpha browser for Linux
	pkgver = 0.1.0alpha1
	pkgrel = 1
	url = https://github.com/u61d/Veil
	arch = x86_64
	license = MPL-2.0
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = ffmpeg
	depends = fontconfig
	depends = freetype2
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libpulse
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxss
	depends = libxt
	depends = mime-types
	depends = nspr
	depends = nss
	depends = pango
	depends = ttf-font
	optdepends = libnotify: desktop notifications
	optdepends = speech-dispatcher: text to speech
	optdepends = xdg-desktop-portal: screen sharing on Wayland
	provides = veil
	conflicts = veil
	options = !strip
	source = veil-alpha1-linux-x86_64.tar.gz::https://github.com/u61d/Veil/releases/download/v0.1.0-alpha1/veil-alpha1-linux-x86_64.tar.gz
	source = veil.sh
	source = veil.desktop
	sha256sums = e17aa4d6bf9a2d027c1b4e90e938035e41c5d6c4175b43ee59000ed03fb8eefd
	sha256sums = 4510168b24a22d0d8bba892d12594df88b1649157206171db5e6c8a52465bdb1
	sha256sums = 760d8232d4eef6e3b1d3150eda49c22d2a197c85190674e224f34328680b6965

pkgname = veil-bin
